.diet {
  margin: 0 auto;
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  place-items: center;
  padding: 1rem 0;
}

.diet > h2,
.dietHeading > h2,
.common_diet_plan,
.createPlan {
  text-transform: capitalize;
  margin: 1rem;
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.createPlan{
  background-color: #281157;
}

.createPlan > h2 {
  width: fit-content;
  color: white;
  padding: 0rem 1rem;
}

.diet > h2 {
  padding: 1rem 4rem;
}

.custPlan {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  backdrop-filter: blue(5px);
}

.commonDiet {
  margin: auto;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.common_diet_plan {
  display: flex;
  text-align: center;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
  width: 400px;
  padding: 0;
}

.common_diet_plan > h3 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  height: fit-content;
  margin-top: 1rem;
}

.common_diet_plan_1 {
  background-image: url("https://c.ndtvimg.com/2019-04/a5jvu698_weight-loss-diet-chart_625x300_03_April_19.jpg");
}
.common_diet_plan_2 {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/protein-1493121855.jpg");
}
.common_diet_plan_3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8MfMGl-25nC0vWRxPJYqNjU2bwQ0CcVg9XA&usqp=CAU");
}
.common_diet_plan_4 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkiHCfKJt86bZZCCzqVC2SljqdGh-V3mh-5Q&usqp=CAU");
}
.common_diet_plan_5 {
  background-image: url("https://media.istockphoto.com/id/1296031254/photo/composition-with-high-protein-food.jpg?s=170667a&w=0&k=20&c=2xlUG9P89gWZr1VRze4qtkOgjvebwriQZntrMN4TRQM=");
}
.common_diet_plan_6 {
  background-image: url("https://c.ndtvimg.com/2019-04/a5jvu698_weight-loss-diet-chart_625x300_03_April_19.jpg");
}

.common_diet_plan:hover {
  transform: scale(1.05);
}

.createPlan:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.createPlan:visited{
  text-decoration: none;
}

.dietHeading > h2 {
  text-transform: capitalize;
}

.dietHeading > a {
  text-decoration: none;
}

.dietHeading {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 800;
}

/* ========== Media query for small devices (Mobiles) ========== */
@media screen and (max-width: 600px) {
  .diet {
    padding: 0 !important;
  }
  .diet > h2 {
    margin: 0;
    font-weight: 700;
  }
  .common_diet_plan > h3 {
    font-size: 0.8rem;
  }
  .commonDiet {
    padding: 0;
    width: 100%;
    margin: 1rem;
  }
  .createPlan {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .common_diet_plan {
    width: 150px;
  }
}
