.signup {
  margin: 0;
  color: white;
  display: grid;
  place-items: center;
  padding: 1.5rem 0;
}

.signupWrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1.2rem 4rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 10px -6px rgba(0, 0, 0, 0.5);
}

.signupWrapp > hr {
  margin: 1rem 4rem;
  height: 27rem;
  border-left: 1px solid gray;
}

.imgWrap {
  text-transform: uppercase;
  font-weight: 800;
  color: #bb84e8;
  font-size: 12px;
}

.signupWrapp > .imgWrap > img {
  object-fit: contain;
  margin-bottom: 10px;
  width: 15rem;
}

.signup_form {
  margin: 1rem auto;
  position: relative;
  width: 480px;
}

.signup_title {
  margin-bottom: 1rem;
}

.error {
  width: 100%;
  border-radius: inherit;
  background-color: rgba(255, 16, 16, 0.788);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 15px 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.input_field_nested,
.input_field {
  width: 100%;
  color: #fff;
}

.input_field_nested {
  display: flex;
  gap: 0.5rem;
}

.signup_form > .input_field > .input,
.signup_form > .input_field_nested > .input {
  width: 100%;
  background: rgba(117, 117, 117, 0.288);
  backdrop-filter: blur(5px);
  outline: none;
  border-radius: 0.5rem;
  padding: 12px 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.signup_form .input_field .input::placeholder,
.signup_form .input_field_nested .input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  font-size: smaller;
}

.signup_form .input_field .input:focus,
.signup_form .input_field_nested .input:focus {
  border-bottom: 2px solid #fff;
  background: transparent;
}

.signup_form .input_field input[type="submit"] {
  color: rgb(255, 254, 254);
  background: #471aa0;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 3rem;
  border-radius: 0.5rem;
}

.option {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  .signup {
    padding: 0;
    margin: 0;
  }
  .signup_form {
    width: 100%;
  }
  .signupWrapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
  }
  .imgWrap > img {
    height: 8rem;
    width: 8rem;
  }
  .imgWrap > p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 10px;
  }
  .signupWrapp > hr {
    display: none;
  }
}
