@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;300;400;600;800;900&display=swap");

.landing {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background: url(../../assets/Landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing__outer {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 1rem;
  line-height: 2.5rem;
  height: 100vh;
  width: 28%;
}

.exerciseDetails {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Saira Condensed", sans-serif;
}

.exerciseDetails h1 {
  font-weight: 900;
}

.exerciseDetails img {
  height: 10rem;
}

.empty {
  margin: 0 2rem;
}

.login_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login_btn button {
  font-weight: 600;
  padding: 0.2rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #c792f8be;
}

.login_btn button:hover {
  color: black;
  background-color: rgb(150, 67, 245);
}

.login_btn button:visited{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .landing {
    background: url(../../assets/smallLanding.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .landing__outer {
    width: 50%;
    height: 100vh;
  }
  .exerciseDetails img {
    height: 6rem;
  }
  .exerciseDetails {
    line-height: 1.8rem;
  }
  .exerciseDetails ul {
    margin-top: 0.8rem;
    padding: 0 0.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .exerciseDetails ul li {
    font-size: 12px;
    letter-spacing: 1.25px;
    font-weight: 300;
    padding: 0 0.5rem;
    margin-bottom: 0;
    line-height: 1.25rem;
  }
  .login_btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 80%;
    margin: 0;
  }
  .login_btn button {
    width: 120px;
    text-decoration: none;
    padding: 0;
    height: 2.5rem;
  }
}

@media screen and (max-width: 950px) {
  .landing__outer{
    width: 50%;
  }
}
