<<<<<<< HEAD
.account{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem ;
=======
.account{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem ;
>>>>>>> 324f9c6239fa93f465ebc53dcb30c8df07c0c9cb
}