.custom_diet {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 340px;
  min-height: 300px;
  margin-bottom: 1.5rem;
}

.title_n_trash {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid gray;
  align-items: center;
  border-radius: 0.5rem;
}

.title_n_trash > h6 {
  margin-bottom: 0;
}

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.searchinput {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsList {
  cursor: pointer;
}

.mealinput {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: white;
  border-bottom: 1px solid gray;
}

.mealinput::placeholder {
  font-size: 0.8rem;
}

.seaarch_food_title {
  text-transform: capitalize;
  font-weight: 600;
}

.food_list_item {
  cursor: default;
  text-align: left;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}

.food_title {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.food_title > button {
  background: transparent;
  border: none;
}

.trash {
  color: rgb(252, 40, 40);
}

.macros {
  width: 100%;
  font-size: 0.8rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}
