.homeContainer {
  margin: 0 auto;
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
}

.rowWrapper {
  margin: 1rem auto;
  display: grid;
  place-items: center;
}

.detailsWrapper {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0.8rem;
  margin: auto;
}

.detailsWrapper > h5 {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-bottom: 1.5rem;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

.cards {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-between;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 200px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 20px 20px 10px -6px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  backface-visibility: hidden;
}

.card1:hover {
  transform: scale(1.1);
  cursor: default;
}

.card1 > h6 {
  font-size: 14px;
}

.card1 > p {
  margin: 0;
  text-align: center;
}

.GetstartedWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  background-size: cover;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.Getstarted-Diet,
.Getstarted-Workout {
  font-size: 1rem;
  background-color: rgba(133, 130, 130, 0.308);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  color: rgb(231, 231, 231);
  text-shadow: 2px 0px rgba(39, 39, 39, 0.388);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
  text-align: left;
}

.Getstarted-Workout:hover,
.Getstarted-Diet:hover {
  background-color: rgba(31, 31, 31, 0.634);
}

.smallscreen {
  display: none;
}

.buttonDiv {
  text-align: center;
  font-size: 20px;
}

.buttonDiv Button {
  border: none;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: #b58effec;
  box-shadow: 2px 2px 2px #00000080, 10px 5px 12px #00000080;
  border-radius: 0.5rem;
}

.description,
.bfp_description,
.bfp_description_age {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.details,
.bfp_details,
.bfp_details_age {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.5rem;
}

ul > h6 {
  text-align: left;
  padding-right: 2rem;
}

.details > ul > li,
.bfp_details > ul > li,
.bfp_details_age > ul > li {
  text-align: left;
  line-height: 2rem;
}

.bfp_details,
.bfp_details_age {
  width: 350px;
  padding-top: 1.5rem;
}

.calories{
  width: 600px;
}

.yellow {
  color: rgb(241, 253, 74);
}

.green {
  color: rgb(35, 255, 101);
}

.red {
  color: rgb(253, 56, 56);
}

/* ========= Media Queries For Small Devices (Mobiles) ========= */
@media screen and (max-width: 600px) {
  .rowWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }
  .homeContainer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .detailsWrapper {
    display: grid;
    place-items: center;
    padding: 0px;
  }
  .detailsWrapper > h5 {
    font-size: 0.78rem;
    width: 95%;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.8rem;
    width: 95%;
    margin-bottom: 1rem;
  }
  .card1 {
    width: 48%;
    font-size: 0.8rem;
  }
  .GetstartedWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  .Getstarted-Workout > ul,
  .Getstarted-Diet > ul {
    display: none;
  }
  .Getstarted-Diet,
  .Getstarted-Workout {
    width: 165px;
    margin: 0.25rem;
    height: 10rem;
    padding: 0;
  }
  .smallscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
  }
  .buttonDiv {
    width: 140px;
    display: grid;
    place-items: center;
    margin-bottom: 0.5rem;
  }
  .buttonDiv > Button {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .description,
  .bfp_description,
  .bfp_description_age {
    width: 370px;
    gap: 0rem;
    justify-content: center;
    margin-top: 0.5rem;
  }
  .bfp_details,
  .bfp_details_age{
    width: 370px;
  }
  .bfp_description_age{
    margin-bottom: 2rem;
  }
}
