.exercise-wrapper{
  min-height: 60vh;
  color: white;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-block: 3rem;
  backdrop-filter: blur(3px);
}

.plans-exercises {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: auto;
}

.searchbar-exercises {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 0.5rem;
  width: 40%;
  height: 120px;
}

.searchinput-exercise {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.input-exercise {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: white;
}

.input-exercise::placeholder {
  font-size: 0.8rem;
}

.btn_link_text {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  text-align: center;
  width: 40%;
  height: 120px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 1rem;
}

Link,
.btn_link_text,
.btn_link_text:hover,
.btn_link_text:visited {
  text-decoration: none;
  color: rgb(245, 245, 245);
}
.suggestions{
  z-index: 2
}

.suggested-results{
  width: 90%;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  padding: 0;
}
.suggested-item{
  display: flex;
  padding : 0.8rem 0.5rem;
  justify-content: space-between;
  background-color: black;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.216);
}
.item-right{
  gap: 0.3rem;
  font-size: small;
  display: flex;
  float: right;
}
.exercise-results{
  padding-block: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .exercise-wrapper {
    margin-top: 1.5rem;
    min-height: 40vh;
    width: 100%;
  }
  .exercise > h3 {
    width: 95%;
    font-size: 1rem;
  }
  .plans-exercises {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 0;
  }
  .searchbar-exercises {
    width: 100%;
    padding: 1rem;
    height: max-content;
  }
  .searchbar-exercises > h4 {
    font-size: 1.2rem;
  }
  .btn_link_text {
    width: 100%;
    height: max-content;
    margin-top: 1rem;
  }
  .exercise-results{
    gap: 1rem;
    text-align: center;
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .exercise{
    min-height: 65vh;
  }
}

/* width */
.suggested-results::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.suggested-results::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: #000000;
}

/* Handle */
.suggested-results::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-radius: 0.5rem;
}

/* Handle on hover */
.suggested-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

