.exercise {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 1rem 0.5rem;
  color: white;
  box-shadow: inset 0 0 10px #000000;
}
.exercise_plans{
    display: grid;
    place-items: center;
}
.exercise > h3,
.exercise_plans > h3 {
  background-color: rgba(0, 0, 0, 0.5);
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
}
.goal_plan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
