.footerWrapper {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.801);
    color: white;
    cursor: default;
    width: 100%;
    margin-bottom: 0 !important;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.7);
  }
  
  .devider {
    margin: 0rem 2rem;
    border: 0.5px solid rgba(128, 128, 128, 0.123);
  }

  .footerUpper{
    padding: 0rem 5rem;
  }
  
  .footerLower {
    text-align: center;
    margin: 0.5rem;
  }
  
  .goal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .footer_logo {
    width: 100px;
  }
  
  .subscribe {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .subInput {
    display: flex;
    justify-content: space-between;
  }
  
  #email {
    padding: 0.25rem 0.5rem;
    width: 13rem;
    border-radius: 0.25rem;
    border: none;
  }
  
  .btn-subs {
    padding: 0.25rem 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    height: 2.5rem;
    background-color: #b58effec;
  }
  
  .call,
  .socialMedia {
    text-align: center;
  }
  
  a {
    color: rgb(202, 202, 202);
    text-decoration: none !important;
  }
  
  .abt, .cnt{
    font-weight: 600;
    color: rgb(182, 182, 182);
  }
  
  .instaIcon,
  .fbIcon,
  .twIcon,
  .ytIcon {
    height: 2rem;
    width: 2rem;
    margin: 0.8rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .instaIcon:hover {
    fill: #fb3958;
  }
  
  .fbIcon:hover {
    fill: #3b5998;
  }
  
  .twIcon:hover {
    fill: #1da1f2;
  }
  
  .ytIcon:hover {
    fill: #ff0000;
  }
  
  .phone:hover {
    color: rgb(13, 105, 33);
  }
  
  /* ========== For Small Devices ========== */
  @media screen and (max-width: 600px) {
    .footerWrapper, .footerUpper{
      display: flex;
      flex-direction: column;
    }
    .socialMedia, .call {
      margin-top: 1rem;
    }
    .subscribe{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      gap: 1rem;
    }
    .subscribe{
      display: flex;
    }
    .subInput{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 0.5rem;
    }
    .footerLower{
      font-size: 0.75rem;
    }
  }